<div class="apropos">
<div class="card-container">
    <div class="card">
     <table>
      <tr>
        <td>
            <br>
            <img src="assets/a-propos-de-nous.jpg" alt="Mechanic" class="card-img" >
            <br>
        </td>
         
        <td>
            <br>
         <div class="card-content">
          <h1>A PROPOS DE NOUS</h1>
          <p>
            Chez Garagénie, nous sommes spécialisés dans l’entretien automobile. Notre plateforme facilite la vie des propriétaires de véhicules en mettant en relation les particuliers et les entreprises avec des garages certifiés de confiance. Que vous ayez besoin d’une simple réparation ou d’un entretien complet, nous vous aidons à obtenir des devis instantanés en ligne. Comparez les prix, consultez les avis clients et choisissez le meilleur professionnel pour vos besoins. Avec Garagénie, la réparation automobile est à portée de clic !
          </p>
         </div>
          <br>
        </td>
      </tr>
     </table>
    </div>
    
  </div>
  <div class="tro"> 
    <img  src="../../assets/Beni.png"/>  <br>
  </div> 
  
</div>