<div>
    <div class="footer1">
        <div class="foot">
            <div>
                <img alt="" src="../../assets/logo.png" width="110" height="100" class="logo1" />
            </div>
            
            <div class="row1">
                <h6 class="tit">Contactez-Nous</h6> <br/>
                <div>
                <div class="inl"><mat-icon class="text-white" >local_phone</mat-icon> <p class="text-white" id="l1"> 01 79 72 79 90 </p>  </div> <br/> 
                <div class="inl"><mat-icon class="text-white" >mail_icon</mat-icon> <p class="text-white" id="l1"> garagenie@gmail.com</p>  </div> <br/> </div>
            </div> 
            <div class="row2">
                <h6 class="tit">À propos</h6> <br/>
                 <div class="mr"><li class="text-white"><a class="text-white" routerLink="/" fragment="service"> Nos services </a> </li> 
                 <li class="text-white"><a class="text-white" routerLink="/" fragment="apropos"> À propos de nous </a> </li> </div>
            </div>
            <div class="row3">
                <h6 class="tit">Aide</h6> <br/>
                <div class="mr"><li class="text-white"><a class="text-white" routerLink="/contact"> Contact </a> </li>
                <li class="text-white"><a class="text-white" href=""> Espace client</a> </li> </div>
            </div>
            <div class="row4">
                <h4 class="text-white mt-lg-0 mt-sm-3">Démarrez ici</h4>
                <p class="text-white">Accédez à l'application web de réparation des véhicules</p>
                <a id="h44">
                    <button class="bn632-hover bn26" routerLink="/login">Inscrivez-vous</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <p class="text-white"><small>Copyright © 2024 Garagénie. Tous les droits sont réservés.</small></p>
    </div>
</div>
