.footer1{
    background-color: rgb(38, 38, 38);
    height: 250px;
}
.col{
    background-color: rgb(94, 93, 93);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
}

.foot{
   display:inline-flex ;

}

.tit{
    color: white;
    margin-inline: 50px;
}


.logo1{
    margin-top: 60px;
    margin-left: 50px;
    width: 140px;
    height: 130px;
}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;    
    font-family: "Archivo Black", sans-serif;

  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn26 {
    background-image: linear-gradient(
      to right,
      #FFA500,
      #FFD700,
      #FFA500,
      #FFD700
    );
    box-shadow: 0 4px 15px 0      #FFA500;
    margin-top: 20px;
  }

  .row1{
    margin-left: 100px ;
    margin-top: 40px;
  }
  .row2{
    margin-top: 40px;
  }
  .row3{
    margin-top: 40px;
  }
  .row4{
    margin-top: 40px;
    margin-left: 150px;
  }

  .inl{
    display: inline-flex;
    margin-left: 40px;
  }

  #l1{
    margin-left: 10px;
  }

  .mr{
    margin-left: 50px;
  }