<div class="sidebar">
    <div class="sidebar-header">
      <h3>Menu</h3>
    </div>
    <ul class="sidebar-menu">
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/utilisateurs" routerLinkActive="active">Utilisateurs</a></li>
        <li><a routerLink="/messages" routerLinkActive="active">Messages</a></li>
      <li><a routerLink="/devis" routerLinkActive="active">Devis</a></li>
      <li><a routerLink="/promotions" routerLinkActive="active">Promotions</a></li>
    </ul>
  </div>
  