.questionsfrequentes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .p1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    z-index: 3; /* Ajusté pour être au-dessus de l'overlay */
  }
  
  .background {
    background-image: url('../../assets/garage-background.jpg');
    background-size: cover;
    overflow-y: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    z-index: 4;
    height: 70vh;
    position: relative;
  }
  
  .background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optionnel : pour ajouter un overlay */
    z-index: 1;
    pointer-events: none; /* Assurez-vous que l'overlay ne bloque pas les interactions */
  }
  
  .question-card {
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 600px;
    margin: 20px;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    z-index: 3; /* Ajusté pour être au-dessus de l'overlay */
  }
  
  h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 40px;
    margin-top: 60px;
    z-index: 3; /* Ajusté pour être au-dessus de l'overlay */
  }
  
  .question-card-content {
    flex: 2;
    padding: 20px;
    z-index: 3; /* Ajusté pour être au-dessus de l'overlay */
  }
  
  .question-card-content h3 {
    margin-top: 0;
    z-index: 3; /* Ajusté pour être au-dessus de l'overlay */
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 2; /* Ajusté pour être au-dessus de l'overlay */
  }
  
  .nav-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 3; /* Ajusté pour être au-dessus de l'overlay */
  }
  
  .nav-button:hover {
    background-color: #0056b3;
  }
  