.card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: coral;

}

.edit-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}
.search-add-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Ajustez l'espace en fonction de vos besoins */
  }
  
  .search-input {
    flex-grow: 1;
    margin-right: 10px; /* Espace entre le champ de recherche et le bouton */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-small {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #000; /* Ajustez la couleur de la bordure selon vos besoins */
    background-color: #f8f9fa; /* Ajustez la couleur de fond selon vos besoins */
    color: #000; /* Ajustez la couleur du texte selon vos besoins */
    cursor: pointer;
  }
  
  .button-small:hover {
    background-color: #e2e6ea; /* Ajustez la couleur de fond au survol selon vos besoins */
  }
  