<div class="card">
    <h2>DEVIS</h2>
    <div class="search-add-container">
        <app-headeradmin></app-headeradmin>
        <button class="button-small">Ajouter</button>
     </div>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Spécificité</th>
                <th>Durée</th>
                <th>Autres</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              <td>
                <button  >Supprimer</button>
              </td>
            </tr>
        </tbody>
    </table>
</div>
