<div>
<div class="video-background-container">
    <video autoplay muted loop id="video-background">
      <source src="../../assets/rep.mp4" type="video/mp4">
    </video>
    <div class="content">
      <!-- Your content goes here -->
      <h1 class="tot"> LA RÉPARATION AUTOMOBILE <br> D'UNE GRANDE ENSEIGNE <br> À PRIX IMBATTABLE      </h1>
    </div>
  </div>
  <div class="center">
<div class="rectangle">
    <div class="mo1">
        <div class="cercle"> <mat-icon class="icon">book_online_icon</mat-icon></div>
    <h6> Devis en ligne</h6>
</div>
<div class="mo1">
    <div class="cercle"> <mat-icon class="icon">price_check_icon</mat-icon></div>
<h6> Le meilleure prix </h6>
</div>
<div class="mo1">
    <div class="cercle"> <mat-icon class="icon">handshake_icon </mat-icon></div>
<h6> Garantie en 12 mois</h6>
</div>
<div class="mo1">
    <div class="cercle"> <mat-icon class="icon">payment_icon </mat-icon></div>
<h6> Paiement en 4 fois </h6>
</div>
<div class="mo1">
    <div class="cercle"> <mat-icon class="icon">car_rental_icon </mat-icon></div>
<h6> Voiture de prét</h6>
</div>

</div>
</div>

</div> <br> <br>