<div class="background">   
    <app-barremenu></app-barremenu><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><div class="appointment-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2>Rendez-vous en ligne et devis gratuit</h2>
              <p>Vous souhaitez:</p>
              <button class="btn btn-orange">Rendez-vous</button>
              <p>Recherchez parmi les 12 prestations disponibles</p>
              <div class="search-bar">
                <input type="text" class="form-control" placeholder="Véhicule">
                <input type="text" class="form-control" placeholder="Prestations">
                <input type="text" class="form-control" placeholder="Agence">
                <button class="btn btn-orange">Rechercher</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br>
    <app-services></app-services><br><br><br>
    <app-promotions></app-promotions><br><br><br>

    <app-apropos></app-apropos><br><br><br>

    <app-questions></app-questions><br><br><br>
    <app-footer></app-footer>
</div>
